<%= render 'shared/header' %>

<form action="<%= send_new_message_path %>" method="post">
  <%= token_tag %>

  <div class="form-group">
    <label for="recipients">Recipients</label>
    <input type="text" class="form-control"
           autocomplete="off" data-role="user-picker"
           data-users="<%= @friends_json %>"
           id="recipients" name="recipients"/>
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" rows="3" id="content" name="content" placeholder="Hi there"></textarea>
  </div>

  <button type="submit" class="btn btn-default">Send</button>
</form>